<!-- Commitment Section -->
<section id="commitment">
    <div class="row">
        <div class="column" data-aos="zoom-in-right" data-aos-duration="1600">
            <img src="<%= asset_path "commitment_image.png" %>" alt="Commitment Image" />
        </div>
        <div class="column">
            <div class="text-container" data-aos="slide-left" data-aos-duration="1600">
                <h2>Our Commitment</h2>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum</p>
                <button class="cta_dark">Learn More &gt;</button>
            </div>
        </div>
    </div>
</section>