<!-- Discount Banner -->
<div id="discount_banner">
    <div class="container">
        <img src="<%= asset_path "splash_icon.svg" %>" alt="Splash Icon" />
        <h3>Save up to $500 per year on millions of book titles!</h3>
        <img src="<%= asset_path "splash_icon.svg" %>" alt="Splash Icon" />
    </div>
</div>