<!-- Explore Section -->
<section id="explore">
    <h2 class="title">Explore Our Books</h2>
    <p class="description">With our dedicated customer support team, you can rest easy knowing that we’re doing everything we can to save you time, money, and stress.</p>
    <div class="book_container" data-aos="slide-left" data-aos-duration="1000">
        <% @book_list.each do |book| %>
        <div class="book">
            <img src="<%= asset_path book.image %>" alt="<%= book.title %> Image" />
            <span><%= book.title %></span>
            <a href="/show/<%= book.isbn_13 %>">View Book Detail &gt;</a>
        </div>
        <% end %>
    </div>
</section>