<!-- FAQ Section -->
<section class="faq">
    <div class="container">
        <h2>Frequently Asked Question</h2>
        <div class="dropdown" data-aos="slide-right" data-aos-duration="1500">
            <h3>Dedicated customer support and help portal. <span>⌃</span></h3>
            <p>With our dedicated customer support team, you can rest easy knowing that we’re doing everything we can to save you time, money, and stress.</p>
        </div>
        <div class="dropdown" data-aos="slide-right" data-aos-duration="2000">
            <h3>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed <span>⌃</span></h3>
            <p>With our dedicated customer support team, you can rest easy knowing that we’re doing everything we can to save you time, money, and stress.</p>
        </div>
        <div class="dropdown" data-aos="slide-right" data-aos-duration="2500">
            <h3>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed <span>⌃</span></h3>
            <p>With our dedicated customer support team, you can rest easy knowing that we’re doing everything we can to save you time, money, and stress.</p>
        </div>
        <div class="dropdown" data-aos="slide-right" data-aos-duration="3000">
            <h3>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed <span>⌃</span></h3>
            <p>With our dedicated customer support team, you can rest easy knowing that we’re doing everything we can to save you time, money, and stress.</p>
        </div>
    </div>
</section>