<!-- Footer -->
<footer>
    <div class="container">
        <div class="email_container">
            <!-- Logo -->
            <a href="#" class="xyz_logo">
                <img src="<%= asset_path "xyz_logo.svg" %>" alt="XYZ Logo" />
                <span>XYZ</span>
            </a>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</p>
            
            <form action="post">
                <input type="text" placeholder="Email Address" />
                <span>&gt;</span>
            </form>
        </div>
        <div class="quick_links">
            <div class="link_section">
                <h2>Menu</h2>
                <a href="#">Shop All</a>
                <a href="#">About Us</a>
                <a href="#">Community</a>
                <a href="#">FAQs</a>
            </div>
            <div class="link_section">
                <h2>Support</h2>
                <a href="#">Shipping & Returns</a>
                <a href="#">Help & FAQ</a>
                <a href="#">Terms & Conditions</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Contact</a>
                <a href="#">Login</a>
            </div>
            <div class="link_section">
                <h2>Resources</h2>
                <a href="#">Shipping & Returns</a>
                <a href="#">Help & FAQ</a>
                <a href="#">Terms & Conditions</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Contact</a>
                <a href="#">Login</a>
            </div>
        </div>
        <div class="bottom_footer">
            <div class="copyright">
                <p>© 2022 Brainly.</p>
            </div>
            <div class="social_media">
                <a href="#" class="bg">
                    <img src="<%= asset_path "facebook_logo.svg" %>" alt="Facebook Logo" />
                </a>
                <a href="#" class="bg">
                    <img src="<%= asset_path "linkedin_icon.svg" %>" alt="Linkedin Logo" />
                </a>
                <a href="#" class="bg">
                    <img src="<%= asset_path "twitter_logo.svg" %>" alt="Twitter Logo" />
                </a>
            </div>
        </div>
    </div>
</footer>
<script>
    AOS.init();
</script>