<!-- Hero Section -->
<main id="hero">
    <div class="row">
        <div class="column" data-aos="fade-right" data-aos-duration="1600">
            <h1 class="hero_title">The Cheapest Textbooks</h1>
            <h3 class="hero_subtitle">Save Up To 90% On Millions Of Titles</h3>
            <p class="hero_description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
            <button class="cta_purple">Get Started &gt;</button>
        </div>
        <div class="column" data-aos="fade-left" data-aos-duration="1600">
            <img src="<%= asset_path "hero_image.svg" %>" alt="Hero Image" />
        </div>
    </div>
</main>