<!-- Reason Section -->
<section id="reason">
    <span>LOREM IPSUM</span>
    <h2>3 Reason To Shop With Us</h2>
    <div class="reason_container">
        <div class="reason_card" data-aos="slide-right" data-aos-duration="1500">
            <img src="<%= asset_path "package_icon.svg" %>" alt="Package Icon" />
            <h3>All textbook rentals come with free return shipping.</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore Stet clita kasd gubergren, no sea takimata.</p>
        </div>
        <div class="reason_card" data-aos="slide-right" data-aos-duration="1000">
            <img src="<%= asset_path "ask_icon.svg" %>" alt="Ask Icon" />
            <h3>Dedicated customer support and help portal.</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore Stet clita kasd gubergren, no sea takimata.</p>
        </div>
        <div class="reason_card" data-aos="slide-right" data-aos-duration="500">
            <img src="<%= asset_path "piggy_bank_icon.svg" %>" alt="Piggy Bank Icon" />
            <h3>Buy or rent cheap textbooks & save up to $500 per year!</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore Stet clita kasd gubergren, no sea takimata.</p>
        </div>
    </div>
</section>