<!-- Testimonial Section -->
<section id="testimonial">
    <div class="container">
        <div class="text_container">
            <h3>Andrew Santellan</h3>
            <span>Product manager, Binance</span>
            <div class="logo_container">
                <img src="<%= asset_path "binance_logo_dark.svg" %>" alt="Binance Logo" />
                <span>Binance</span>
            </div>
        </div>
        <div class="card">
            <img id="avatar" src="<%= asset_path "andrew_santellan_avatar.png" %>" alt="Andrew Santellan" />
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            <img data-aos="flip-right" data-aos-duration="3000" src="<%= asset_path "star_rating_icon.svg" %>" alt="Star Rating Icon" />
        </div>
    </div>
</section>