<!-- Main Section -->
<main id="result">
    <div class="container">
        <h2>Search Result</h2>
        <div class="row">
            <div class="column" data-aos="slide-right" data-aos-duration="1600">
                <img src="<%= asset_path "doughnuts_and_doom_image.png" %>" alt="Doughnuts And Doom Image" />
            </div>
            <div class="column" data-aos="slide-left" data-aos-duration="1600">
                <h1>Doughnuts And Doom</h1>
                <p id="authors">by Hannah P. Templer, Marguerite Z. Duras, Iceberg Nash Slim, Camille Byron Paglia </p>
                <p>Edition: <span>Book 3</span></p>
                <p>Price: <span>PHP 100.00</span></p>
                <p>ISBN: <span>978-1-603095-13-6</span></p>
                <p>Publication Year: <span>2022</span></p>
                <p>Publisher: <span>McSweeney's</span></p>
            </div>
        </div>
    </div>
</main>